<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="BookExchangeDatabase" connectionString="data source=.\SQLEXPRESS;initial catalog=&quot;Сервис обмена книгами&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="BookExchangeDatabase1" connectionString="data source=.\SQLEXPRESS;initial catalog=&quot;Сервис обмена книгами&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>